.podcast-container {
max-width: 1200px; /* Adjust the maximum width according to your preference */
margin: 0 auto;
padding: 20px;
}

.shows-grid {
display: grid;
grid-template-columns: repeat(3, 1fr); /* Display 4 columns */
gap: 10px; /* Adjust the gap between blocks */
}

.show {
background-color: #533232; /* Adjust the background color of each block */
padding: 20px;
border-radius: 8px;
}

.show h2 {
font-size: 20px; /* Adjust the font size of the show title */
}

.show p {
font-size: 16px; /* Adjust the font size of the show description */
}
.show img {
max-width: 100%;
height: auto;
border-radius: 4px;
}
div div p {
box-sizing: fit-content;

}