

.podcast-card--image{
  max-width: 50%;
  max-height: 50%;
  border-radius: 5%;
  border: rgb(42, 249, 18) solid 1px;
  cursor: pointer;
}

/* Media query for medium screens */
@media screen and (max-width: 900px) {
  .podcast-main {

  }

  /* Add other styles for medium screens if needed */
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
  .podcast-main {

  }

  /* Add other styles for small screens if needed */
}